body.no-scroll {
    overflow: hidden;
}

.header {
    position: fixed;
    width: 100%;
    padding: 0.3rem;
    transition: background-color 0.5s ease-in-out;
    z-index: 100000;
}

.burger {
    width: 22.5px;
    position: relative;
    pointer-events: none;
    z-index: 10000;
}

.burger::after, .burger::before {
    content: "";
    height: 1px;
    width: 100%;
    position: relative;
    display: block;
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
}

.burger::after {
    top: -4px;
}

.burger::before {
    top: 4px;
}

.burgerActive::after {
    transform: rotate(45deg);
    top: -1px;
}

.burgerActive::before {
    transform: rotate(-45deg);
    top: 1px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}


.logoContainer {
    z-index: 10000;
}

.navLogo {
    transition: all 500ms cubic-bezier(0.76, 0, 0.24, 1);
}

/* .wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    border: 3px solid red;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border: 3px solid red;
} */

/* 

.container {
    border: 3px solid red;
} */