@tailwind base;
@tailwind components;
@tailwind utilities;


:root:has(.no-doc-scroll) {
    overflow:hidden;
  }

  @layer utilities {
    .clip-path-polygon-0-0-0-100-100-100-100-0 {
      clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    }
  }
  